<div class="app-card-container">
  <div class="card">
    <h2>About Me</h2>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "computer_code.jpg", width: '78%', alt: "Profile Image", class: "about-img" %>
      </div>

      <div class="skills">
        <h2>Percentage of Portfolio- Each Skill</h2>
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
        <% end %>
              <div class="col-md-8">
        <p>
        "I am a diversified computer programmer and knowledgable software developer. Over the course of three years I have covered the spectrum of deeply studying and applying the languages of website applications as well as computing languages such as C++."
        </p><p>
        "My projects have focused on developing software for the social integration of novel writers and their books in the form of a Ruby on Rails application designed to be a monetized social media platform for writers, encompassing special features such as my invention of a C++ program to give their books maturity ratings upon pdf upload." 
        </p><p>
        "From this personal background, I have also amassed broad JavaScript and other full stack skills from the demands of my first computer programming job. From this overall understanding I can be your reliable and hardworking computer programmer."
        </p>

        <p>
          <button
            class="btn btn-primary"
              type+"button"
              data-toggle="collapse"
              data-target="#resume"
              aria-expanded="false"
              aria-controller="resume"
          >
          Resume
          </button>
        </p>
      </div>

        <p>
          <div class="collapse" id="resume">
            <div class="card card-block">
              '12 years practicing psychology; 3 years patent-pending inventor software programmer- full stack \in 2 languages'
            </div>
            <div class="card card-block">
              'junior programmer- full stack; hosting static website; creator- facebook for novelists'
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>