<div class="app-card-container">

	<div class="card">

		<div class="row">
			<div class="col-md-6">
				<h1>Big Man: (For a good time)</h1>
				<p>And I was having a GOOD time (call whenever): <%= number_to_phone "2398230893" %></p>

				<p>This is what you owe me: <%= number_to_currency "2398230893" %></p>

				<p>My usu. ROI: <%= number_to_percentage "2398230893" %></p>

				<p>Here's a number: <%= number_with_delimiter "2398230893" %></p>

				<p><a href="mailto:suggestions19428@gmail.com?subject=Cool App">Email Me!</a></p>
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.692074141849!2d-94.5850450492879!3d39.09071114303109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f069ff1e43fd%3A0x8e933e04794753e9!2s1828+Walnut+St+floor+3%2C+Kansas+City%2C+MO+64108!5e0!3m2!1sen!2sus!4v1527912899498" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>