<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome home!</h1>
  <p class="lead">This is a way to post your blogs about coding and display your different languages in the portfolio section as your skills for other users to check out!</p>
  <p class="lead">
    <a href="contact" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Copyright Georgie Payne 2018</p>
  </div>
</footer>
</div>